absl-py
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
defusedxml
fonttools
fpdf2
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gTTS
h5py
idna
Jinja2
jsonschema
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
ml_dtypes
numpy
oauthlib
opencv-python-headless
opt_einsum
packaging
pandas
pillow
protobuf==3.20.*
pyparsing
python-dateutil
pyttsx3
pytz
referencing
reportlab
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt


